.visualizacionContainer {
  margin-top: 60px;
}

.MapaResumen {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.Bar {
  height: 260px;
  width: 90vw;
  margin: 30px;
}
.Pie {
  height: 300px;
  width: 33vw;
  margin: 30px;
}

.Container-pie {
  display: flex;
  align-items: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-primary {
  margin: 5px 0 25px;
}

.main-section {
  margin: 0 auto;
  margin-top: 25%;
  padding: 0;
}
.modal-content {
  background-color: #3b4652;
  opacity: 0.85;
  padding: 0 20px;
  box-shadow: 0px 0px 3px #848484;
  -moz-box-shadow: 0px 0px 3px #848484;
  -webkit-box-shadow: 0px 0px 3px #848484;
  margin-top: 50px;
}

.user-img {
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 3px #848484;
  -moz-box-shadow: 0px 0px 3px #848484;
  -webkit-box-shadow: 0px 0px 3px #848484;
  border-radius: 50%;
  align-self: center;
}

.center-img {
  display: flex;
  justify-content: center;
}

.gap-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-img img {
  width: 100px;
  height: 100px;
}

.form-group input {
  height: 42px;
  font-size: 18px;
  border: 0;
  border-radius: 5px;
}

.forgot {
  padding: 5px 0;
}

.forgot a {
  color: #fff;
  text-decoration: none;
}

.forgot a:hover {
  color: black;
}

.align-left {
  text-align: left;
}

.link {
  text-decoration: none;
}

.text-decoration-none {
  text-decoration: none;
}

.marg-top {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.marg-top h2 {
  color: red;
}

.list-style-none {
  list-style:none;
  padding: 20px;
}

.navbar-top {
  margin-top: 100px;
}